@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Sedan:ital@0;1&display=swap');

.sedan-regular {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
  }

  .abel-regular {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Sedan", serif;
    background-color: rgb(125, 74, 173);
    color: #f4f4f4;
  }

 header {
    display: flex;
    justify-content: space-around;
    height: 150px;
    background-color: rgb(109, 51, 142);
    color: #f4f4f4;
    align-items: center;
 }

 #logo-img {
    height: 100px;
    width: 100px;
    border-radius: 12px;
 }


#links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

 #links a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2rem;
    border-bottom: 3px solid transparent;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
 }

 #links a:hover {
    border-bottom: 3px solid #ae58dd;
    color: rgb(186, 148, 223);
    transform: scale(1.1);
 }